.project-decoration-wrapper{
  position:absolute;
  right
  /* display: inline-block; */
  background: rgb(199, 3, 3);
  height: 100%;
  width: 200px;
}
.header-container-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  align-items: flex-start;
}

.logo-wrapper-project {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 44px;
  margin: 0 0 10px 0;
}
.logo-text-project {
  position: absolute;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.357;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-text-project {
  font-size: 32.7846px;
  line-height: 1.406;
}

.logo-1-project {
  color: #2c4a52;
  z-index: -2;
}

.logo-2-project {
  color: rgba(244, 235, 220, 0.27);

  z-index: 1;

  top: 50%;
  left: 50%;
  transform: translate(-49%, -44%);
}
.logo-3-project {
  color: rgba(143, 155, 151, 0.17);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}
/* ///////////////////section-project */

.project-wrapper {

  box-sizing: border-box;
  margin: 0 auto;
  width: 380px;
  max-height: 900px;
  padding: 20px 30px 40px;

  background: linear-gradient(
    237.97deg,
    rgba(255, 255, 255, 0.2) 1.16%,
    rgba(255, 255, 255, 0) 99.16%
  );
  -webkit-backdrop-filter: blur(24px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border: linear-gradient(
    251.43deg,
    rgba(255, 255, 255, 0.6) -20%,
    rgba(255, 255, 255, 0.3) 79.79%
  );
}

@media screen and (min-width: 679px) {
  .project-wrapper {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .project-wrapper {
    position: absolute; */
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 300px;
    width: 1000px;
  }
}

.project-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  color: #dedede;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .project-title {
    font-size: 36px;
    line-height: 1.361;
  }
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #dedede;

  margin-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  .project-text {
    font-size: 18px;
    line-height: 1.389;
  }
}
.project-site {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;

  color: #2c4a52;
}
@media screen and (min-width: 1200px) {
  .project-site {
    font-size: 26px;
    line-height: 1.346;
  }
}
