*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;

  background: #527072;
  padding: 10px 10px 40px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }
}

img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  font-style: normal;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* ---------------------------------header*/

header {
  padding-bottom: 40px;
}

.header-social-link > svg {
  fill: #8f9b97;
}
@media screen and (min-width: 1200px) {
  .header-social-link > svg {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .header-social-links-list {
    display: flex;
    justify-content: flex-end;
  }
  .header-social-list-item:not(:first-child) {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-social-links-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header-social-list-item:not(:first-child) {
    margin-top: 30px;
  }
}

.navigation-list {
  font-weight: 300;
  /* font-size: 18px;
  line-height: 1.389; */
  color: #000000;
  display: flex;
}
@media screen and (min-width: 480px) {
  .navigation-list {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.389;
    color: #000000;
  }
}
.navigation-list-item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 480px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    font-size: 36px;
    line-height: 1.361;
  }
}

/* ---------------------------------for all sections */
.section {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}
@media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1120px;
    margin-top: 60px;
  }
}

.section-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
  color: #000000;

  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 30px;
    line-height: 1.367;
    margin-bottom: 40px;
  }
}
/* ---------------------------------philosophy & services */
.philosophy-text,
.services-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #f4ebdc;
}
@media screen and (min-width: 1200px) {
  .philosophy-text,
  .services-text {
    font-size: 18px;
    line-height: 1.389;
  }
}

.services-card,
.philosophy-card {
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
  max-height: 200px;
  border-radius: 10px;
  background: #527072;
  box-shadow: 18px 18px 30px #476567, -18px -18px 30px rgba(255, 255, 255, 0.32);
}
.icon-tilda-mobile {
  position: absolute;
  width: 60px;
  height: 20px;
  bottom: -34px;
  left: -10px;
  display: inline-block;
}
.icon-tilda-first {
  fill: white;
  width: 60px;
  height: 20px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.icon-tilda-second {
  fill: #375557;
  width: 60px;
  height: 20px;
  position: absolute;
  z-index: -1;
  bottom: 2px;
  right: 2px;
}
.icon-tilda-third {
  fill: #f0f5f5;
  width: 60px;
  height: 20px;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
}
/* ---------------------------------people */
.icon-and {
  width: 40px;
  height: 60px;
  /* display: block; */
  position: absolute;
  top: 14px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  /* fill-opacity: 0.4; */
}

.people-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: #000000;
}
@media screen and (min-width: 1200px) {
  .people-name {
    font-size: 24px;
    line-height: 1.375;
  }
}

.people-cards-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (min-width: 1200px) {
  .people-cards-div {
    justify-content: space-evenly;
  }
}
.people-metier {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: #f4ebdc;
}
@media screen and (min-width: 1200px) {
  .people-metier {
    font-size: 22px;
    line-height: 1.363;
  }
}
.people-photo {
  border-radius: 20px;
  width: 164;
  height: 164;
}

/* ---------------------------------projects */
.projects-list-item {
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  max-height: 300px;
  background: #527072;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  .projects-list-item {
    max-width: 936px;
    max-height: 294px;
  }
}
.project-title-div {
  display: flex;
}
.projects-list-item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .projects-list-item-title {
    font-size: 36px;
    line-height: 1.361;
  }
}

.projects-list-item-div {
  display: flex;
  justify-content: space-between;
}
.projects-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  padding-right: 5px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;

  color: #000000;
}
@media screen and (min-width: 1200px) {
  .projects-list-item-text {
    font-size: 18px;
    line-height: 1.389;

    margin-top: 10px;
  }
}
.project-photo {
  display: flex;
  flex-grow: 1;
  box-shadow: 21.32px 18.04px 11.48px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  width: 164px;
  height: 164px;
  border-radius: 20px;
  filter: grayscale(40%);
}

.project-photo img {
  border-radius: 20px;
}
.projects-decoration {
  display: none;
}
@media screen and (min-width: 1440px) {
  .projects-decoration {
    display: block;
    position: absolute;
    font-weight: 600;
    font-size: 112px;
    line-height: 1.366;
    color: rgba(44, 74, 82, 0.34);
    text-shadow: 48px 62px 7px #668080;

    right: -15%;
    bottom: -50%;

    z-index: -1;
  }
}

/* ---------------------------------blog */

.icon-at {
  display: none;
  top: 0;
  left: 0;
}
.icon-wave {
  position: absolute;
  width: 880px;
  height: 480px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 50px;

  z-index: -1;
  display: none;
}
/* .icon-wave-use {
  width: 480px;
  height: 480px;
} */
.blog-subtitle {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.363;
  color: #f4ebdc;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .blog-subtitle {
    font-size: 36px;
    line-height: 1.361;
    margin-bottom: 60px;
  }
}
.blog-list-item-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #f4ebdc;

  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .blog-list-item-title {
    /* font-size: 38px;
    line-height: 1.368; */
    font-size: 36px;
    line-height: 1.361;
  }
}
.blog-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #f4ebdc;

  margin-bottom: 10px;
}
.blog-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;

  color: rgba(207, 205, 194, 0.6);
}
.blog-list-item {
  margin: 0 auto;
  width: 380px;
}
.blog-list-item:not(:first-child) {
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .blog-list-item:not(:first-child) {
    margin-top: 60px;
  }
}
.blog-list-item-div {
  display: flex;
  justify-content: space-between;
}
